{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}contact us{% endblock %}

{% block cssImplicite %}
  <style>
  .cadrea {
    max-width:700px;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  .cadreb {
    max-width:690px;
    padding:20px;
    margin-left:10px;
    margin-right:10px;
    border:1px solid gray;
    border-radius:12px;
    background-color:#ffffff;
  }
  </style>
{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="contact" %}
{% endblock %}



{% block navbar-right %}
  {% if not user.is_authenticated %}
    <a class="btn" style="background-color: blue; color: #ffffff;" href="{% url 'comptes:login' %}" role="button">Connexion</a>
    <a class="btn" style="background-color: #ff2103; color: #ffffff;" href="{% url 'comptes:signup' %}" role="button">Inscription</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}
<br>
<br>
<br>
<form method="post">
<div class="container form-box cadrea">
  <div class="cadreb">
    <div class="text-center">
      <h2>Nous contacter</h2>
    </div>
    
        {{ csrf }}
        {% crispy contact_form %}
    
  </div>
</div>
</form>
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

